.container {
    width: 25%;
    margin-right: 0.2rem;
}

.container * {
    margin-bottom: 10px;
    font-size: 1rem;
}

.fieldType {
    height: 2rem;
    width: 50%;
    justify-self: center;
    text-align: center;
    align-content: center;
    margin: 0.2rem 0.2rem;
}
