.container {
    height: 35%;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    display: block;
    height: 20%;
}

.gridContainer {
    height: 80%;
    width: 100%;
    gap: 0.33rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.cell {
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.cell1 {
    grid-column: 1;
    grid-row: 1;
}

.cell2 {
    grid-column: 2;
    grid-row: 1;
}

.cell3 {
    grid-column: 1;
    grid-row: 2;
}

.cell4 {
    grid-column: 2;
    grid-row: 2;
}

.cell5 {
    grid-column: 1;
    grid-row: 3;
}

.cell6 {
    grid-column: 2;
    grid-row: 3;
}
