.container {
    height: 43%;
    margin-bottom: 0.5rem;
}

.characterIcon {
    width: 20%;
    height: auto;
    animation: slide-right 300ms ease-out forwards;
}

.descPanel {
    width: 80%;
    border-left: 2px dashed navy;
    padding-left: 0.5rem;
}

.descPanel p {
    font-size: 0.8rem;
}

.deadPanel {
    display: block;
    margin: auto;
    color: crimson;
    font-weight: bold;
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}