.container {
    height: 40%;
}

.characterIcon {
    width: 20%;
    height: auto;
}


.descPanel {
    width: 80%;
    border-left: 2px dashed navy;
    padding-left: 0.5rem;
}

.descPanel p {
    font-size: 0.8rem;
}

.deadPanel {
    display: block;
    margin: auto;
    color: crimson;
    font-weight: bold;
}