.container {
    /* flex: 6; */
    width: 100%;
    height: 60%;
}

.playersContainer {
    height: 90%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.playersContainer::-webkit-scrollbar {
    display: none;
}


.header {
    height: 10%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
