.container {
    height: 60%;
    width: 100%;
}

.topContainer {
    width: 100%;
    height: 40%;
    border-bottom: 3px dashed navy;
}

.bottomContainer {
    width: 100%;
    height: 40%;
}

.timer {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 10%;
    color: brown;
    font-size: 1.5rem;
    font-weight: bold;
}