.container {
    height: 60%;
    width: 100%;
    position: relative;
}

.pierContainer {
    width: 100%;
    height: 50%;
    border-bottom: 3px dashed navy;

    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}


.horizontalContainer {
    height: 50%;
}

.targetContainer {
    height: 100%;
    width: 50%;
    border-right: 3px dashed navy;

    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}


.challengerContainer {
    height: 100%;
    width: 47%;
    animation: slide-down 300ms ease-out forwards;
}


.bottomContainer {
    width: 100%;
    height: 50%;
}

.timer {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 10%;
    color: brown;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}