
.coinBox {
    width: 70%;
}

.display {
    display: block;
    width: 30%;
    padding-right: 0.5rem;
    text-align: center;
    border-right: 0.1rem dashed navy;
    font-size: 1.2rem;
    font-weight: bold;
}

.coin {
    width: 8%;
    margin-right: 0.3rem;
}

.invisible {
    display: none;
}
