.container {
    height: 20%;
    width: 100%;
}

.coinBox {
    flex: 8;
}

.display {
    flex: 2;
    padding-right: 8px;
    text-align: center;
    border-right: 2px dashed navy;
}

.coin {
    width: 8%;
    margin-right: 4px;
}

.invisible {
    display: none;
}
