.container {
}

.profileContainer {
    width: 25%;
}

.imgLastUsed {
    width: 7rem;
    align-self: center;
    justify-self: center;
}

.textLastClaim {
    font-size: 0.8rem;
    margin-left: 1rem;
}

.playerName {
    /*text-align: center;*/
    margin-left: 1rem;
}

.actionContainer {
    width: 70%;
}

.textMainAction {
    text-align: center;
}
