.container {
}

.profileContainer {
    width: 25%;
}

.imgLastUsed {
    width: 50%;
    align-self: center;
    justify-self: center;
}

.textLastClaim {
    font-size: 0.8rem;
    margin-left: 1rem;
}

.playerName {
    margin-left: 1rem;
}

.actionContainer {
    width: 70%;
    align-content: center;
    justify-content: center;
}

.textMainAction p {
    text-align: center;
}
