.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    gap: 0.2rem;
    flex-direction: column;
    padding: 0;
}

.chatbox {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    /*-ms-overflow-style: none; */
    /*scrollbar-width: none; */

}

/*.chatbox::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

.sendBox {
    height: 10%;
    width: 100%;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.inputField {
    height: 100%;
    display: block;
    width: 80%;
    resize: none;
}

.buttonSend {
    height: 100%;
    display: block;
    width: 20%;
    font-size: 0.7rem;
}


.normalChat {

}

.announceChat {
    color: #ffe70e;
}

.importantChat {
    color: red;
}