.itemContainer {
    width: 100%;
}

.itemImg {
    width: 30%;
}

.numDeadPanel {
    display: flex;
    justify-content: center;
    align-content: center;
}

.numDead {
    font-size: 2.5rem;
    font-weight: bold;
    align-self: start;
}

.numTotal {
    font-size: 1.5rem;
    align-self: end;
    justify-self: end;
}

.deckCounter {
    font-size: 1.2rem;
    text-align: center;
}

.itemDescPanel {
    width: 70%;
    align-items: center;
}
