* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.round_border {
  padding: 10px;
  border: 5px solid rgb(44, 9, 150);
  border-radius: 10px;
}
.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
