.container {
    width: 100%;
    height: 100%;
}

.clickContainer {
    height: 3.5rem;
    width: 100%;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
}

.icon {
    width: 10%;
}


.selectable {
    background-color: rgba(23, 31, 42, 255);
}

.selectable:hover {
    background-color: rgba(141, 151, 161, 255);
}


.characterIcon {
    padding: 0.5rem;
    width: 20%;
    display: block;
}

.namePanel {
    display: block;
    overflow-x: hidden;
    padding: 0 0;
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 2rem;
}
